body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:731px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:405px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2006 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:80px;
  width:651px;
  height:405px;
}
#u2006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:303px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2008 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:132px;
  width:541px;
  height:303px;
}
#u2008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:54px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2009 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:132px;
  width:541px;
  height:54px;
}
#u2009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2010 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:152px;
  width:57px;
  height:17px;
  font-size:14px;
  color:#FFFFFF;
}
#u2010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2011 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:148px;
  width:25px;
  height:25px;
}
#u2011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2012 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:210px;
  width:361px;
  height:30px;
}
#u2012_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2012_input {
  font-family:'应用字体';
}
#u2013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2013 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:215px;
  width:93px;
  height:20px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u2014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2014 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:276px;
  width:76px;
  height:31px;
  color:#FFFFFF;
}
#u2014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u2015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2015 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:276px;
  width:76px;
  height:31px;
}
#u2015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
