body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1467px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:510px;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:80px;
  width:1080px;
  height:510px;
}
#u1970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:167px;
  width:88px;
  height:100px;
}
#u1971_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u1973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1973_img.selected {
}
#u1973.selected {
}
#u1973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u1974_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u1972_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:68px;
  height:20px;
}
#u1976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:46px;
  height:20px;
}
#u1976_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:41px;
  white-space:nowrap;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:62px;
  height:20px;
}
#u1978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:40px;
  height:20px;
}
#u1978_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:35px;
  white-space:nowrap;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:62px;
  height:20px;
}
#u1980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:40px;
  height:20px;
}
#u1980_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:35px;
  white-space:nowrap;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:62px;
  height:20px;
}
#u1982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:40px;
  height:20px;
}
#u1982_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:35px;
  white-space:nowrap;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:167px;
  width:480px;
  height:172px;
}
#u1984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:28px;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u1985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:28px;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:250px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u1986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:80px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:150px;
  height:36px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u1987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:28px;
  width:250px;
  height:36px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u1989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:28px;
  width:80px;
  height:36px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u1989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:150px;
  height:36px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u1990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:64px;
  width:250px;
  height:36px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u1992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:64px;
  width:80px;
  height:36px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u1992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:150px;
  height:36px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u1993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:100px;
  width:250px;
  height:36px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u1995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:100px;
  width:80px;
  height:36px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u1995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:150px;
  height:36px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u1996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:136px;
  width:250px;
  height:36px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u1998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:136px;
  width:80px;
  height:36px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u1998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:192px;
  width:290px;
  height:50px;
  color:#1E1E1E;
}
#u1999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  white-space:nowrap;
}
